*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #098bb4;
}
.navbar{
    background-color: #102b49;
}

.formulario{
    background-color: #edd5ed;
}

.formulario select {
    background-color: #77767c47;
}